body {
    background-color: #f4f4f4;
    font-family: 'Inter';
    padding-top: 70px;
}

@font-face {
    font-family: 'Inter';
    src: url(material/Inter.ttf) format(truetype);
}

header {
    display: flex;
    justify-content: space-between;
}

#main-nav {
    justify-content: left;
    gap: 20px;
}

#secondary-nav {
    justify-content: right;
    gap: 20px;
}

#barky-logo-img {
    height: 20px;
    width: auto;
}